:root {
    --counter-size: 60px;
    --col-spacing: 12px;
}

@media screen and (max-width: 800px) {
    :root {
        --counter-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --counter-size: 40px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --counter-size: 30px;
        --col-spacing: 8px;
    }
}

.c-grid {
    background: blue;
    display: grid;
    grid-template-columns: repeat(7, var(--counter-size));
    grid-column-gap: var(--col-spacing);
    grid-area: grid;
    padding: var(--col-spacing);
    width: calc(7 * var(--counter-size) + var(--col-spacing) * 7);

    @media screen and (max-width: 600px) {
        order: -1;
    }
}

.c-grid__column {
    display: grid;
    grid-template-rows: repeat(6, var(--counter-size));
    grid-row-gap: var(--col-spacing);
    position: relative;

    &--available {
        cursor: crosshair;
        @media (hover: hover) {
            &:hover:before {
                display: block;
                content: '';
                height: calc(var(--counter-size) / 2);
                width: var(--counter-size);
                border-top-left-radius: calc(var(--counter-size) / 2);
                border-top-right-radius: calc(var(--counter-size) / 2);
                position: absolute;
                top: calc(
                    calc(var(--counter-size) * -0.5) - var(--col-spacing)
                );
                border-style: dashed;
                border-color: #0009;
                box-sizing: border-box;
                border-width: 4px 4px 0;

                .c-grid--red & {
                    background: red;
                }
                .c-grid--yellow & {
                    background: yellow;
                }
            }
        }
    }

    &--full {
        cursor: no-drop;
    }
}

.c-grid__slot {
    background: black;
    border-radius: 50%;
    width: var(--counter-size);
    height: var(--counter-size);
    box-sizing: border-box;

    &--red {
        background: red;
        border: 4px dashed #0009;
    }
    &--yellow {
        background: yellow;
        border: 4px dashed #0009;
    }
}
